<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-custom"
      version="1.0.0">
    <name>cordova-plugin-custom</name>
    <description>Cordova Custom Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,custom</keywords>
    <issue>https://github.com/CordovaCn/CordovaPluginsDemo/issues</issue>
  
    <js-module src="www/customPlugin.js" name="customPlugin">
        <clobbers target="navigator.customPlugin" />
    </js-module>
  
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="customPlugin" >
                <param name="android-package" value="com.cordovacn.www.customPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/customPlugin.java" target-dir="src/com/cordovacn/www" />
    </platform>
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="customPlugin">
                <param name="ios-package" value="CDVCustomPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVCustomPlugin.h" />
        <source-file src="src/ios/CDVCustomPlugin.m" />
    </platform>
</plugin>
