<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="<plugin-name>"
      version="0.0.1">
    <name><plugin-name></name>
    <!-- change the items as below -->
    <description>Your own description</description>
    <!--<license></license>-->
    <author>name(youremail@email.com)</author>
    <keywords>cordova, plugin</keywords>
    <!--<issue></issue>-->

    <!-- change it if you need. -->
    <js-module src="www/customPlugin.js" name="customPlugin">
        <clobbers target="navigator.customPlugin" />
    </js-module>
    
    <!--Add js file into your project -->
    <!--<asset src="www/new-foo.js" target="js/experimental/foo.js" />-->

    <!-- change dependency if you need -->
    <!--<dependency id="cordova-plugin-someplugin" version="1.0.1">-->
    <!--<dependency id="cordova-plugin-someplugin" url="https://github.com/myuser/someplugin" commit="428931ada3891801" subdir="some/path/here" />-->
    
    <engines>
        <engine name="cordova-android" version=">=3.6.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <!-- 修改AndroidManifest.xml文件
        <config-file target="AndroidManifest.xml" parent="/manifest">
                <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="customPlugin" >
                <param name="android-package" value="com.cordovacn.www.customPlugin"/>
                <!-- if you want to initialize plugin when app launch .please set to true-->
                <!--<param name="onload" value="true" />-->
            </feature>
        </config-file>

        <!-- default plugin source file -->
        <source-file src="src/android/customPlugin.java" target-dir="src/com/cordovacn/www" />

        <!-- Add relp jar -->
        <!--<source-file src="plugin_path/**.jar" target-dir="libs" />-->
    </platform>
    
    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="customPlugin">
                <param name="ios-package" value="CDVCustomPlugin" />
                <!-- if you want to initialize plugin when app launch .please set to true-->
                <!--<param name="onload" value="true" />-->
            </feature>
        </config-file>
        <!-- If you want to modify plist ,Please change here.
        <config-file target="helloworld-Info.plist" parent="CFBundleURLTypes">
                <array>
                    <dict>
                        <key>PackageName</key>
                        <string>$PACKAGE_NAME</string>
                    </dict>
                </array>
        </config-file>
        -->
        <header-file src="src/ios/CDVCustomPlugin.h" />
        <source-file src="src/ios/CDVCustomPlugin.m" />

        <!-- add you own framework-->
        <!--<framework src="CoreGraphics.framework" />-->
    </platform>
</plugin>
